<h1 class="text-center mt-4">Please enter your questions, select the correct answer for each question and click on create quiz button once you are done</h1>
<div class="container">
  <%= form_with(model: @quiz, local: true) do |quiz_form| %>
    <%= quiz_form.label :name %>
    <%= quiz_form.text_field :name, placeholder: "name of a quiz" %>
    <%= quiz_form.label :number_of_questions %>
    <%= quiz_form.text_field :number_of_questions, placeholder: "number of questions" %>
    <%= quiz_form.fields_for :questions do |question_form| %>
      <%= question_form.label :name %>
      <%= question_form.text_field :name, placeholder: "question goes here" %>
      <%= question_form.fields_for :options do |option|%>
        <%=option.text_field :name%>
        <%= option.check_box :is_correct, {}, true, false %>
      <%end%>
    <% end %>
    <%= quiz_form.submit class: "btn btn-success btn-lg" %>
  <% end %>
