<h1 class="text-center mt-4">KTP departments</h1>


<div class="container">
  <% @quizzes.each do |quiz| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <%= link_to(quiz.name, quiz_path(quiz.id)) %>
          </div>
created by:
            <%= quiz.user.full_name %>
          <div class="card-body">
          <p class='card-text'>Here are the questions for the quiz</p>
          <% quiz.questions.each do |question| %>

              <p class="card-text"><%= question.name %>: <% question.options.each do |option| %><%= option.name %>, 
              </p>
              <% if option.answer %>
              <p class="card-text">and the correct answer is <%= option.name %></p>
              <% end %>
              <% end %>
  <% end %>

          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>