<h1 class="text-center mt-4">Currently Available Quizzes</h1>
<div class="container">
  <div class="row justify-content-md-center">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
  <div class="row justify-content-md-center">
    <% @quizzes.each do |quiz| %>
      <div class="col-8 mt-4 offset-md-2">
        <div class="card">
          <div class="card-header card-header-success">
            <%= link_to(quiz.name, quiz_path(quiz.id), class: "text-white") %>
          </div>
          <div class="card-body">
            <p class='card-text'>
              created by:
              <%= quiz.user.full_name %>
            </p>
            <div class="form-group row justify-content-center">
              <%= link_to "Take the quiz", quiz_path(quiz.id), class: "btn btn-success mx-auto btn-lg" %>
              <%if current_user.is_admin?%>
                <%= link_to "Edit quiz", edit_quiz_path(quiz.id), class: "btn btn-warning mx-auto btn-lg" %>
                <%= link_to "Delete quiz", quiz_path(quiz.id), method: :delete, data: {confirm: "Deleting the quiz will also delete all the results and assignments for this quiz, are you sure?"},class: "btn btn-danger mx-auto btn-lg" %>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
