<h1 class="text-center mt-4">Create Quiz</h1>
<div class="container">
  <%= render "shared/errors", obj: @quiz %>
  <div class="row justify-content-md-center">
    <div class="col-md-6 offset-md-2 m-auto">
      <div class="card">
        <div class="card-header card-header-success">
          <h4 class="card-title">Create a Quiz</h4>
        </div>
        <div class="card-body">
          <%= form_with(model: @quiz, local: true) do |form| %>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <%= form.label :name, class: "bmd-label-floating" %>
                  <%= form.text_field :name, class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <%= form.label :number_of_questions, class: "bmd-label-floating" %>
                  <%= form.text_field :number_of_questions, rows: 10, class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <%= form.label :correct_answers_to_pass, class: "bmd-label-floating" %>
                  <%= form.text_field :correct_answers_to_pass, rows: 10, class: "form-control" %>
                </div>
              </div>
            </div>
            <div>
            </div>
            <div class="form-group row justify-content-center">
              <%= form.submit class: "btn btn-success btn-lg" %>
            </div>
            <div class="form-group row justify-content-center">
              <div class="mb-3">
                <%= link_to "[ Cancel and return to home page ]", home_path, class: "text-info" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
