<h1 class="text-center mt-4"> Viewing <%= @quiz.name %> Quiz</h1>
<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
<div class="card">
                <div class="card-header card-header-success text-white">
                    <%= @quiz.name %>
                </div>    
                <div class="card-body">
                          <p class='card-text'>
created by:
            <%= @quiz.user.full_name %>
</p>
                    <p class='card-text'>Here are the questions for the quiz</p>
                        <% @quiz.questions.each do |question| %>
                    <p class="card-text"><%= question.name %> <% question.options.each do |option| %><%= option.name %>, <% end %></p>
          
                     <% end %>
      </div>
          </div>
        </div>
      </div>
    </div>

</div>