<div class="content">
  <%= render "shared/errors", obj: @quiz_assignment %>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-11 offset-md-2 m-auto">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Please assign a quiz to a specific role</h4>
          </div>
          <div class="card-body">
            <%= form_with(model: @quiz_assignment, local: true) do |f| %>
              <div class="row mx-auto">
                <div class="col-md-5">
                  <div class="form-group">
                    <%= f.label :quiz, class: "bmd-label-floating mt-4" %>
                    <%= f.collection_select :quiz_id, Quiz.all.order(name: :desc), :id, :name, { :prompt => true }, { class: "btn mx-auto mt-4 btn-outline-light" } %>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <%= f.label :role, class: "bmd-label-floating mt-4" %>
                    <%= f.collection_select :role_id, Role.all.order(name: :desc), :id, :name, { :prompt => true }, { class: "btn mx-auto mt-4 btn-outline-light" } %>
                  </div>
                </div>
                <div class="col-md-2">
                  <%= f.submit "Assign", class: "btn btn-success btn-lg mt-4" %>
                </div>
              </div>
              <div class="form-group row justify-content-center">
                <div class="mb-1 mt-2">
                  <%= link_to "[ Cancel and return to home page ]", home_path, class: "text-info" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
