<h1 class="text-center mt-4 ml-5">Results so far</h1>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4 offset-md-2">
      <%@quizzes.each do |quiz|%>
        <%results=Result.where(quiz_id: quiz.id)%>
        <%if results.length>0%>
          <div class="card mt-2">
            <div class="card-header card-header-success">
              <h4 class="card-title "><%=quiz.name%></h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <tr>
                      <th>
                        Name
                      </th>
                      <th class='text-center'>
                        Correct Answers
                      </th>
                      <th class='text-center'>
                        Total Questions
                      </th>
                      <th class='text-center'>
                        Score
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <%results.each do |result|%>
                      <tr>
                        <td>
                          <%=User.find_by(id:result.user_id).full_name%>
                        </td>
                        <td class="text-center">
                          <%=result.number_of_correct_answers%>
                        </td>
                        <td class="text-center">
                          <%=result.number_of_questions%>
                        </td>
                        <td class="text-center">
                          <%=(result.number_of_correct_answers.to_f / result.number_of_questions.to_f * 100.0).round(0)%>%
                        </td>
                      </tr>
                    <%end%>
                    <tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
</div>
