<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4 offset-md-2">
      <div class="card">
        <div class="card-header card-header-info text-white">
          <%= @result.quiz.name %>
        </div>
        <div class="card-body">
          <%if @result.number_of_correct_answers<@result.quiz.correct_answers_to_pass%>
            <p class='card-text'>Sorry, you failed the quiz</p>
          <%else%>
            <p class='card-text'>Well done!</p>
          <%end%>
          <p class="card-text"><%= @result.user.full_name %> answered <%= @result.number_of_correct_answers %> answers out of  <%= @result.number_of_questions %> correctly</p>
          <%@result.wrong_answers.each do |wrong_answer|%>
            <%option=Option.find_by(id: wrong_answer.to_i)%>
            <p class="card-text"> The correct answer for <span class='question'><%= option.question.name%></span> is <span class='correct-answer'><%=option.question.options.find_by(is_correct: true).name%></span> and you answered <span class='wrong-answer'><%=option.name%>
              </span></p>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
